@import url('root.css');


.content {

    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;

}

.left_panel {

    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;

}

.main_panel {

    width: 100%;
    height: 100%;
}

.right_panel {

    width: 100%;
    height: 100%;
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    flex-direction: column;
}