<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify Web Player</title>
</head>

<body>

    WEB PLAYER
    <!-- <button id="togglePlay">Toggle Play</button> -->


    <div id="webplayer-container">

        <button id="last-track">LAST TRACK</button>
        <button id="play">PLAY</button>
        <button id="pause">PAUSE</button>
        <button id="next-track">NEXT TRACK</button>
    </div>


    <audio controls>


    </audio>

    <script src="https://sdk.scdn.co/spotify-player.js"></script>
    <script src="/scripts/player.js"></script>
</body>

</html>